<!--
  Generated template for the ManagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><span style="font-size: 3rem;">Manage</span></ion-title>
    <ion-buttons ion-nav-buttons>
      <button ion-button style="font-size: 150%;" (click)="goToNewReq()">New Requisition</button>
      <button ion-button style="font-size: 150%;" (click)="goToOpenReqs()">Open Requisitions</button>
      <button ion-button style="font-size: 150%;" (click)="goToCompletedReqs()">Completed Requisitions</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding >
  
  <ion-grid *ngIf="req" >
    <ion-row no-padding>
      <ion-col>
        <div *ngIf="!req.job; else elseBlock">
          <h2>Miscellaneous Issue</h2>
        </div>
        <ng-template #elseBlock>
          <h2>Job Material Issue</h2>
              <p style="font-size: 100%">Job: {{req.job}}</p>
        </ng-template>
      </ion-col>
    
      <ion-col>
        <h2>Warehouse Requisition: {{req.id}}</h2>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-row>
        <ion-col>
        <p style="font-size: 100%">Submitted By: {{req.employee}}</p>
      </ion-col>
      </ion-row>
       
      
      
    </ion-row>

      <ion-row>
        <ion-col>Part Number</ion-col>
        <ion-col>Quantity</ion-col>
        <ion-col>Resource Code</ion-col>
        <ion-col>Operation</ion-col>
        <ion-col>Filled</ion-col>
        <ion-col>Locations</ion-col>
        <ion-col>Action</ion-col>
      </ion-row>

      <div *ngFor="let item of req.requisitionItem" ion-row align-items-center style="border:1px solid black ; border-radius: 10px; font-size: 120%; font-weight: 500; margin-bottom: 5px">
        <ion-col>{{item.item}}</ion-col>
        <ion-col>{{item.quantity}}</ion-col>
        <ion-col>{{item.reasonCode}}</ion-col>
        <ion-col>{{item.operation}}</ion-col>
        <ion-col>{{item.quantityFilled}}/{{item.quantity}}</ion-col>
        <ion-col>
            <ion-row *ngFor="let location of item.itemLocViewModel ; index as i" [attr.data-index]="i">{{location.location}}: {{location.qtyOnHand}}</ion-row>
          
        </ion-col>
        <ion-col>
          <button ion-button color="secondary" (click)="issueParts(item)">Issue Parts</button>
        </ion-col>
      </div>

  </ion-grid>
</ion-content>
