<div class="form-group" [formGroup]="item">
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <ion-row>
          <label [attr.for]="'matricPN'+index">Matric Part #</label>
        </ion-row>
        <ion-row>
          <input type="text" [attr.id]="'matricPN'+index" formControlName="matricPN">
        </ion-row>

      </ion-col>
      <ion-col col-2>
        <ion-row>
          <label [attr.for]="'quantity'+index">Quantity</label>
        </ion-row>
        <ion-row>
          <ion-col no-padding>
            <input type="number" [attr.id]="'quantity'+index" formControlName="quantity">
          </ion-col>

        </ion-row>

      </ion-col>
      <ion-col col-2>
        <ion-row>
          <label [attr.for]="'lotNum'+index">Lot #</label>
        </ion-row>
        <ion-row>
          <input type="number" [attr.id]="'lotNum'+index" formControlName="lotNum">
        </ion-row>

      </ion-col>
      <ion-col col-3>
        <ion-row>
          <label [attr.for]="'reasonCode'+index">Reason Code</label>
        </ion-row>
        <ion-row style="padding-top: 1px">
          <select [attr.id]="'reasonCode'+index" formControlName="reasonCode">
            <option *ngFor="let reasonCode of reasonCodesService.reasonCodes">
              {{reasonCode.code}} - {{reasonCode.description}}
            </option>
          </select>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row>
          <label [attr.for]="'operation'+index">Operation</label>
        </ion-row>
        <ion-row>
          <input type="number" [attr.id]="'operation'+index" formControlName="operation">
        </ion-row>
      </ion-col>
      <ion-col col-1>
        <button ion-button (click)="removed.emit(index)">Remove</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
