<div class="form-group" [formGroup]="newReqForm">
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <ion-row>
          <label [attr.for]="'item'+index">Matric Part #</label>
        </ion-row>
        <ion-row>
          <input type="text" [attr.id]="item" formControlName="item" >
        </ion-row>

      </ion-col>
      <ion-col col-2>
        <ion-row>
          <label [attr.for]="'quantity'+index">Quantity</label>
        </ion-row>
        <ion-row>
          <ion-col no-padding>
            <input type="number" [attr.id]="quantity" formControlName="quantity" >
          </ion-col>

        </ion-row>

      </ion-col>
      <ion-col col-2>
        <ion-row>
          <label [attr.for]="lotNum">Lot #</label>
        </ion-row>
        <ion-row>
          <input type="number" [attr.id]="lotNum" formControlName="lotNum" >
        </ion-row>

      </ion-col>
      <ion-col col-3>
        <ion-row>
          <label [attr.for]="'reasonCode'+index">Reason Code</label>
        </ion-row>
        <ion-row style="padding-top: 1px">
          <select [attr.id]="reasonCode" formControlName="reasonCode" >
            <option *ngFor="let reasonCode of reasonCodesService.reasonCodes">
              {{reasonCode.code}} - {{reasonCode.description}}
            </option>
          </select>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row>
          <label [attr.for]="operation">Operation</label>
        </ion-row>
        <ion-row>
          <input type="number" [attr.id]="operation" formControlName="operation">
        </ion-row>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</div>
