<!--
  Generated template for the NewRequisitionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Requisition</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <div>

      <form [formGroup]="newReqForm" (ngSubmit)="submit()">

          <ion-row>
            <ion-col col-4>
              <ion-row>
                <label for="employee">Employee</label>
              </ion-row>
              <ion-row style="padding-top: 1px">
                <select id="employee" name="employee" formControlName="employee">
                  <option *ngFor="let employee of employeeService.employees" [value]="employee.empFull">
                    {{employee.empFull}}
                  </option>
                </select>
              </ion-row>
            </ion-col>
            <ion-col col-4>
              <ion-row>
                <label for="job">Job or MR #</label>
              </ion-row>
              <ion-row>
                <input type="text" id="job" name="job" formControlName="job">
              </ion-row>
            </ion-col>
            <ion-col col-4>
              <ion-row>
                <label for="department">Department</label>
              </ion-row>
              <ion-row>
                <input type="text" id="department" formControlName="department">
              </ion-row>
            </ion-col>
          </ion-row>

          <div formArrayName="requisitionItems">
            <div *ngFor="let control of newReqForm.controls['requisitionItems'].controls; let i = index">
              <item-form-control [newReqForm]="newReqForm.controls.requisitionItems.controls[i]"></item-form-control>
              <button type="button" (click)="removeItem(i)">Remove</button>
            </div>
          </div>
          <button type="button" (click)="addItem()">Add Another Item</button>
        <!--
        <items-array formArrayName="requisitionItem" [itemsFormArray]="newReqForm.get('requisitionItem')"></items-array>

        -->
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <p>Form Value: {{newReqForm.value | json}} {{newReqForm.controls.employee.empNum | json}} end</p>
    </div>
  </ion-grid>
</ion-content>
