<!--
  Generated template for the NewRequisitionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><span style="font-size: 3rem;">New Requisition</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <div>

      <form [formGroup]="newReqForm" (ngSubmit)="submit()">

          <ion-row>
            <ion-col col-4>
              <ion-row>
                <label for="employee">Employee</label>
              </ion-row>
              <ion-row style="padding-top: 1px">
                <select id="employee" name="employee" formControlName="employee" (change)="this.empIndex = i">
                  <option *ngFor="let employee of employeeService.employees; let i = index"[ngValue]="employee">
                    {{employee.empFull}}
                  </option>
                </select>
              </ion-row>
            </ion-col>
            <ion-col col-4>
              <ion-row>
                <label for="job">Job or MR #</label>
              </ion-row>
              <ion-row>
                <input type="text" id="job" name="job" formControlName="job">
              </ion-row>
              <div *ngIf="newReqForm.controls.job.dirty && !newReqForm.controls.job.valid">
                Please enter a valid job number
              </div>
            </ion-col>
            <ion-col col-4>
              <ion-row>
                <label for="department">Department</label>
              </ion-row>
            
              <ion-row *ngIf="this.newReqForm.get('employee').value">
                <span>{{this.newReqForm.get('employee').value.empDept}}</span>
               
              </ion-row>

            </ion-col>
          </ion-row>

          <div formArrayName="requisitionItems" style="padding-bottom: 3px" >
            
            <div *ngFor="let control of newReqForm.controls['requisitionItems'].controls; let i = index" style="border: 1px solid black; border-radius: 10px; margin-top: 10px;">
              <item-form-control [newReqForm]="newReqForm.controls.requisitionItems.controls[i]" style="padding-bottom: 10px" [index]='i'></item-form-control> 
            </div>
          </div>
        <button ion-button align-right type="button" (click)="addItem()">Add Another Item</button>
        <button ion-button type="submit" class="btn btn-success"[disabled]="!newReqForm.valid">Submit</button>
      </form>
      <h1 style="color: red">{{errorMessage}}</h1>      
    </div>
  </ion-grid>
</ion-content>
