page-new-requisition {
    ion-header{
        ion-navbar{
            ion-title{
                color: white;
                text-align: center;
                text-decoration: underline; 
                font-size: 3rem; 
                              
            }
            
        }
    }
    ion-content{
        .scroll-content{
            overflow: auto;
        }
        
        ion-grid{
            
            ion-row{
                
                label {
                    font-size: 145%;
                    font-weight: 500
                }
                select {
                    font-size: 125%;
                }
                span {
                    font-size: 125%;
                }
                
                
                    .smallspan{
                        font-size: 100%
                            
                    }
                
            }
          
           
        }
        .button{
            background-color: #2DF7C4;
            color: #008060;
        }
    }
}
