page-completed-requisition {
    ion-header{
        ion-navbar{
            ion-title{
                color: white;
                text-align: center;
                text-decoration: underline; 
                font-size: 3rem; 
                              
            }
            
        }
    }
    ion-content{

        .scroll-content{
            overflow: auto;
            margin-top: 0px; 
        }
        
        ion-grid{
            
            ion-row{
                ion-col{
                    font-size: 150%;
                }
            }
          
           
        }
        .button{
            color: black;
        }
    }
}
